{
  "extends": "airbnb-base",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "semi": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0
  }
}
